body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#DomElements {
    margin-top: 50px;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.weather-info {
    font-size: 28px;
    margin-bottom: 20px;
}

.black-and-white-theme {
    filter: grayscale(100%);
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #aaa;
}

.footer {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}
